# version: "3.8"

# services:
#   nginx:
#     image: nginx:1.23
#     ports:
#       - "8080:80"
#     volumes:
#       - ./backend/projectSrc:/var/www
#       - ./default.conf:/etc/nginx/conf.d/default.conf
#     depends_on:
#       - php-fpm
#     networks:
#       - app-network

#   php-fpm:
#     image: php:8.3-fpm
#     volumes:
#       - ./backend/projectSrc:/var/www
#     networks:
#       - app-network

#   frontend:
#     build: ./frontend
#     ports:
#       - "5173:5173"
#     volumes:
#       - ./frontend:/app
#     networks:
#       - app-network

# networks:
#   app-network:
#     driver: bridge

version: "3.8"

services:
  nginx:
    build:
      context: .                # Allow access to all folders (root as build context)
      dockerfile: ./frontend/Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - php-fpm
    networks:
      - app-network

  php-fpm:
    image: php:8.3-fpm
    volumes:
      - ./backend/projectSrc:/var/www
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

