* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app_name_div {
    background-color: black;
}

.sign_app_name {
    color: white;
}

.form_wrapper {
    background-color: gray;
}

/* Homepage */

.homepage_head {
    min-height: 10vh;
}

.homepage_body_div {
    min-height: 90vh;
}

.homepage_left {
    width: 18%;
}

.homepage_main_body {
    width: 82%;
}

@media (max-width: 700px) {

    /* .landing_container_mobile {
        background-color: gray;
    } */

    .mobile_form_wrapper {
        background-color: gray;
        width: 80%;
    }
    
}