* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app_name_div {
    background-color: black;
}

.sign_app_name {
    color: white;
}

.form_wrapper {
    background-color: gray;
}

/* Auth Page */

.mobile_heading {
    display: none;
}

.auth_page_container {
    /* background-color: gray; */
    height: 100vh;
}

.auth_body {
    height: 95vh;
}

.auth_left {
    width: 55%;
}

.auth_right {
    width: 45%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.auth_form_wrapper {
    background-color: gray;
    width: 55%;
    height: 400px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

/* Homepage */

.homepage_head {
    min-height: 10vh;
}

.homepage_head_one {
    width: 20%;
}

.homepage_head_two {
    width: 55%;
}

.homepage_head_center {
    width: 60%;
    height: 50%;
}

.homepage_head_three {
    width: 25%;
}

.homepage_head_features {
    width: 12%;
    height: 50%;
}

.homepage_body_div {
    min-height: 90vh;
}

.homepage_left {
    width: 18%;
}

.homepage_left_sections {
    height: 40vh;
}

.homepage_left_features {
    width: 80%;
    height: 15%;
}

.homepage_main_body {
    width: 82%;
}

.homepage_contents_div {
    width: 75%;
}

.each_content_div {
    width: 80%;
    min-height: 300px;
}

.each_content_top {
    min-height: 30px;
}

.each_contents_content {
    min-height: 200px;
}

.each_content_bottom {
    min-height: 30px;
}

.homepage_main_side {
    width: 25%;
}

@media (max-width: 700px) {

    /* .mobile_auth_parent {
        height: 100vh;
    }

    .mobile_auth_head {
        height: 8%;
    }

    .mobile_auth_body {
        height: 92%;
    }

    .mobile_auth_main {
        width: 85%;
        height: 60%;
        padding-top: 15%;
        padding-bottom: 15%;
        padding-left: 7%;
        padding-right: 7%;
    } */

    .auth_left {
        display: none;
    }

    .mobile_heading {
        display: flex;
        min-height: 30px;
        width: 100%;
    }

    .auth_right {
        width: 100%;
        display: flex;
        flex-flow: column;
    }

    .auth_form_wrapper {
        width: 80%;
        margin-top: 50px;
    }

}