* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app_name_div {
    background-color: black;
}

.sign_app_name {
    color: white;
}

.form_wrapper {
    background-color: gray;
}

/* Homepage */

.homepage_head {
    min-height: 10vh;
}

.homepage_head_one {
    width: 20%;
}

.homepage_head_two {
    width: 55%;
}

.homepage_head_center {
    width: 60%;
    height: 50%;
}

.homepage_head_three {
    width: 25%;
}

.homepage_head_features {
    width: 12%;
    height: 50%;
}

.homepage_body_div {
    min-height: 90vh;
}

.homepage_left {
    width: 18%;
}

.homepage_left_sections {
    height: 40vh;
}

.homepage_left_features {
    width: 80%;
    height: 15%;
}

.homepage_main_body {
    width: 82%;
}

.homepage_contents_div {
    width: 75%;
}

.each_content_div {
    width: 80%;
    min-height: 300px;
}

.each_content_top {
    min-height: 30px;
}

.each_contents_content {
    min-height: 200px;
}

.each_content_bottom {
    min-height: 30px;
}

.homepage_main_side {
    width: 25%;
}

@media (max-width: 700px) {

    /* .landing_container_mobile {
        background-color: gray;
    } */

    .mobile_form_wrapper {
        background-color: gray;
        width: 80%;
        height: 100vh;
    }

    .mobile_login_form {
        height: 60vh;
        background-color: white;
        border-radius: 15px;
    }
    
}